<%= form_with model: user, url: users_path do |form| %>
  
<main class="relative min-h-screen w-full bg-white">
  <div class="p-6" x-data="app">
    <section
      class="absolute top-96 left-1/2 mx-auto max-w-sm -translate-x-1/2 -translate-y-1/2 transform space-y-4 text-center"
    >
      <div x-show="isLoginPage" class="space-y-4">
        <header class="mb-3 text-2xl font-bold">Register | 註冊</header>

          <div class="user-input-outer">
            <%= form.email_field :email, placeholder:"信箱",
            class: "user-input" %>
          </div>

          <div class="user-input-outer">
            <%= form.password_field :password, placeholder:"密碼", 
            class:"user-input" %>
          </div>

          <div class="user-input-outer">
            <%= form.password_field :password_confirmation, placeholder:"密碼驗證", 
            class:"user-input" %>
          </div>
                  
        <button class="user-button">
          <%="註冊會員"%>
        </button>
      </div>       

      <div class="flex items-center space-x-4">
        <hr class="w-full border border-gray-300" />
        <div class="font-semibold text-gray-400">OR</div>
        <hr class="w-full border border-gray-300" />
      </div>

        <footer>
          <div class="grid grid-cols-2 gap-4">
            <%= link_to "FACEBOOK", provider_oauth_index_path(provider: :facebook), 
            class:"text-sm md:text-base rounded-2xl border-b-2 border-b-gray-300 bg-white py-3 md:py-2.5 px-1 md:px-4 font-bold text-gray-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
            %>
          <%= link_to "GOOGLE", provider_oauth_index_path(provider: :google), 
          class:"text-sm md:text-base rounded-2xl border-b-2 border-b-gray-300 bg-white py-3 md:py-2.5 px-1 md:px-4 font-bold text-gray-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
            %>
        </div>

        <div class="mt-8 text-sm text-gray-400">
          非常歡迎您光臨「Rform」，為了讓您能夠安心的使用本網站的各項服務與資訊，登入及代表您同意本網站的隱私權政策。
        </div>
      </footer>
    </section>
  </div>
</main>
<% end %>
