<div class="background padding-for-fixed" data-controller="orders">
    <div class="container">
        <div class="panel justify-evenly">
            <% if current_user.status != "pro" %>
            <div class="pricing-plan pricing-table">
                <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
                <h2 class="pricing-header">試用方案</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">免費建制3份問卷!</li>
                    <li class="pricing-features-item">所有編輯問卷功能!</li>
                </ul>
                <span class="pricing-price">NT$ 0/每月</span>
                <button class="pricing-button-now" disabled>使用中方案</button>
            </div>
            <% end %>

            <div class="pricing-plan pricing-table">
                <img src="https://i.postimg.cc/VNHjZr8s/space-ship.png" alt="" class="pricing-img">
                <h2 class="pricing-header">頂級方案</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">建置問卷數量無限！</li>
                    <li class="pricing-features-item">編輯問卷所有功能!</li>
                </ul>
                <span class="pricing-price">NT$ 100/每月</span>
                <% if current_user.status == "pro" %>
                <a href="#/" class="pricing-button-now" data-action="click->orders#post" >Your plan now</a>
                <% else %>
                <a href="#/" class="pricing-button  is-featured" data-action="click->orders#post" >升級方案</a>
                <% end %>
            </div>

        </div>
    </div>

<% if @form_info %>
<%= form_with(url: "https://ccore.newebpay.com/MPG/mpg_gateway", method: :post, html: {name: "Newebpay"}, data: {orders_target:"form_post"}) do |form|  %>
<%= form.text_field :MerchantID , value: @form_info[:MerchantID], class: "hidden" %>
<%= form.text_field :TradeInfo , value: @form_info[:TradeInfo], class: "hidden"  %>
<%= form.text_field :TradeSha , value: @form_info[:TradeSha], class: "hidden"  %>
<%= form.text_field :Version , value: @form_info[:Version], class: "hidden"  %>
<%= form.submit "" , class: "hidden" %>
<% end %>
<% end %>
</div>