<div style="background-color:<%=@survey.background_color %>">
      <section class="sections respomse-fields max-w-lg mx-auto <%= @survey.font_style %>">
  
          <h1 class="title text-5xl text-ironGray my-5"><%= @survey.title %></h1>
          <p class="description text-md text-ironGray break-words"><%= @survey.description%></p>
  
              <%= form_with model: [@survey, response] do |form| %>
          <%= form.fields_for :answers do |response| %>
          <% @survey.questions.each do |question| %>
          <div class="question_field my-10 ">
            <h1 class="question_title inline-block py-2 text-3xl text-gray-600 ">
              <i class="fas fa-question icon inline-block text-gray-600"></i>
              <%= question.title %>
              <%= content_tag :abbr, '*', title: 'Required' if question.required %>
            </h1>
            <hr class="border-solid border-2 border-ironGray" style="border-color:<%= @survey.theme %>">
            <div class="question_content">
              <% case question.question_type %>
              <% when 'single_choice' %>
                <% question.answers.each do |answer| %>
                  <p class="choice_type bg-ironGray rounded-md p-2 my-6 flex items-center min-h-full hover:bg-ironGrayHover" style="background-color:<%= @survey.theme%>" >
                    <%= response.radio_button question.id, answer.id, required: question.required, class: 'radio_button h-6 w-6 ml-1 mr-3' %>
                    <span class="answer_title text-xl text-white"><%= answer.title %></span>
                  </p>
                <% end %>
              <% when 'multiple_choice' %>
                <% question.answers.each do |answer| %>
                  <p class="choice_type bg-ironGray rounded-md p-2 my-6 flex items-center min-h-full hover:bg-ironGrayHover">
                    <%= response.check_box question.id, { multiple: true,class: 'radio_button h-6 w-6 ml-1 mr-3 accent-ironGaryHover' }, answer.id %>
                    <span class="answer_title text-xl text-white"><%= answer.title %></span>
                  </p>
                <% end %>
              <% when 'long_answer' %>
                <%= response.text_area question.id, required: question.required, class: 'text_area w-full my-6 border-2 rounded-md border-ironGaryHover focus:outline-none focus:ring-ironGray focus:border-ironGray text-md' %>
              <% when 'satisfaction' %>
                <table class="default w-full my-6">
                  <tr class="tr flex justify-around flex-wrap">
                    <% question.answers.each do |answer| %>
                      <td>
                        <%= answer.title %>
                      </td>
                    <% end %>
                  </tr>
                  <tr class="tr flex justify-around flex-wrap ">
                    <% question.answers.each do |answer| %>
                      <td>
                        <%= response.radio_button question.id, answer.id, class: 'radio_button h-6 w-6' %>
                      </td>
                    <% end %>
                  </tr>
                </table>
              <% when 'date' %>
                <%= response.date_field question.id , class: "default w-full my-6", data: {controller: "date"}%>
              <% when 'time' %>
                <%= response.time_field question.id, class: "default w-full my-6", data: {controller: "time"} %>
              <% when 'drop_down_menu' %>
                <%= response.select question.id, options_for_select(question.answers.collect{ |o| [o.title, o.id, class: "option"] }), {class: "default w-full my-6"}  %>
              <% when 'range' %>
                <%= response.range_field question.id %>
              <% when 'file' %>
                <%= response.file_field question.id, accept: "application/pdf, application/zip", multiple: true %>
              <% when 'image' %>
                <%= file_field_tag question.id %>
                <% question.answers.each do |answer| %>
                  <%= response.image answer.answerimg.variant(resize_to_limit: [200, 300]) %>
                <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
          <% end %>
          <div class="actions">
            <%= form.submit "送出問卷",class:"px-4 py-3 bg-ironGray text-white text-lg font-semibold rounded hover:bg-ironGrayHover"%>
          </div>
          <% end %>
  
    </section>
</div>

