<style>
    <% if @survey.image.attached? %>
.form_bg {
      background-image: url("<%= url_for(@survey.image) %>");
      position: relative;
      z-index: 0;
}   
.form_bg:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
    <% end %>
</style>






<section class="w-full <%= @survey.image.attached? ? "form_bg" : ""%> "  >
<section class="sections max-w-lg mx-auto <%= @survey.font_style %>"   >
  <div class="res_fields">
  <h1 class="title text-5xl text-ironGray my-5"><%= @survey.title %></h1>
  <p class="description text-md text-ironGray break-words"><%= @survey.description%></p>
  </div>
  <%= form_with model: [@survey, response] do |form| %>
    <%= form.fields_for :answers do |response| %>
    <% @survey.questions.each do |question| %>
    <div class="question_field fields px-2">
      <h1 class="question_title inline-block py-2 text-3xl text-gray-600 ">
        <i class="fas fa-question icon inline-block text-gray-600"></i>
        <%= question.title %>
        <%= content_tag :abbr, '*', title: 'Required' if question.required %>
         <p class="description text-base text-ironGray break-words"><%= question.description%></p>
         <% if question.image.attached? %>
           <%= image_tag question.image.variant(resize_to_limit: [250, 250]) %>
         <% end %>
      </h1>
      <hr class="border-solid border-2 border-ironGray bg-ironGray">
      <div class="question_content">
        <% case question.question_type %>
        <% when 'single_choice' %>
          <% question.answers.each do |answer| %>
            <p class="choice_type bg-ironGray rounded-md p-2 my-6 flex items-center min-h-full hover:bg-ironGrayHover">
              <%= response.radio_button question.id, answer.id, required: question.required, class: 'radio_button h-6 w-6 ml-1 mr-3' %>
              <span class="answer_title text-xl text-white"><%= answer.title %></span>
            </p>
          <% end %>
        <% when 'multiple_choice' %>
          <% question.answers.each do |answer| %>
            <p class="choice_type bg-ironGray rounded-md p-2 my-6 flex items-center min-h-full hover:bg-ironGrayHover">
              <%= response.check_box question.id, { multiple: true,class: 'radio_button h-6 w-6 ml-1 mr-3 accent-ironGaryHover' }, answer.id %>
              <span class="answer_title text-xl text-white"><%= answer.title %></span>
            </p>
          <% end %>
        <% when 'long_answer' %>
          <%= response.text_area question.id, required: question.required, class: 'text_area w-full my-6 border-2 rounded-md border-ironGaryHover focus:outline-none focus:ring-ironGray focus:border-ironGray text-md' %>
        <% when 'satisfaction' %>
          <table class="default w-full my-6">
            <tr class="tr flex justify-around flex-wrap">
              <% question.answers.each do |answer| %>
                <td>
                  <%= answer.title %>
                </td>
              <% end %>
            </tr>
            <tr class="tr flex justify-around flex-wrap ">
              <% question.answers.each do |answer| %>
                <td>
                  <%= response.radio_button question.id, answer.id, class: 'radio_button h-6 w-6' %>
                </td>
              <% end %>
            </tr>
          </table> 
        <% when 'date' %>
          <%= response.date_field question.id , class: "default w-full my-6", data: {controller: "date"}%>
        <% when 'time' %>
          <%= response.time_field question.id, class: "default w-full my-6", data: {controller: "time"} %>
        <% when 'drop_down_menu' %>
          <%= response.select question.id, options_for_select(question.answers.collect{ |o| [o.title, o.id, class: "option"] }), {class: "default w-full my-6"}  %>
        <% when 'range' %>
          <%= response.range_field question.id %>  
        <% when 'file' %>
          <%= response.file_field question.id, accept: "application/pdf, application/zip", multiple: true %>  
        <% when 'image' %>
          <%= file_field_tag question.id %>  
          <% question.answers.each do |answer| %>
            <%= response.image answer.answerimg.variant(resize_to_limit: [200, 300]) %>  
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>

    <div class="actions">
      <%= form.submit "送出問卷",class:"px-4 py-3 mb-4 bg-ironGray text-white text-lg font-semibold rounded hover:bg-ironGrayHover"%>
    </div>

  <% end %>
</section>
</section>