<style>
  <% if @survey.image.attached? %>
.form_bg {
      background-image: url("<%= url_for(@survey.image) %>");
      position: relative;
      z-index: 0;
}   
.form_bg:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
  <% end %>
</style>

<div class="response_page bg-<%= @survey.background_color %> w-full <%= @survey.image.attached? ? "form_bg" : ""%> ">
    <section class="sections response_fields <%= @survey.font_style %> focus-within:outline-<%= @survey.theme %>" data-controller="responses">
      <div class="survey_title hidden" data-responses-target="survey_title">
        <h1 class="title text-5xl text-ironGray my-5"><%= @survey.title %></h1>
        <p class="description text-md text-ironGray break-words relative"><%= @survey.description %></p>
      </div>
      <%= form_with model: [@survey, response] do |form| %>
        <%= form.fields_for :answers do |response| %>
          <% @survey.questions.each do |question| %>
          <div class="question_field hidden my-10" data-responses-target="question" data-question_id="<%= question.id %>">

            <h1 class="question_title inline-block py-2 text-3xl text-gray-600">
              <%= question.title %>
              <% if question.required %>
                <span class="text-sm">(必填)</span>
              <% end %>
              <p class="text-base text-ironGray break-words"><%= question.description%></p>
              <% if question.image.attached? %>
                <%= image_tag question.image.variant(resize_to_limit: [250, 250]) %>
              <% end %>
            </h1>
            <span class="hidden bg-brightRed bg-brightOrange bg-brightYellow bg-brightGreen
            bg-brightBlue bg-brightNavy bg-brightGray hover:bg-softRed hover:bg-softOrange hover:bg-softYellow hover:bg-softGreen hover:bg-softBlue hover:bg-softNavy hover:bg-softGray"></span>
            <div class="question_content">
              <% case question.question_type %>
              <% when '單選題' %>
                <% question.answers.each do |answer| %>
                  <label class= "response_choice bg-<%= @survey.theme %> hover:bg-<%= @survey.background_color %>" >
                    <%= response.radio_button question.id, answer.id, required: question.required, class: 'radio_button h-6 w-6 ml-1 mr-3', data: {action: "change->responses#checked", "skip_to_question_id": answer.skip_to_question_id } %>
                    <%= answer.title %>
                  </label>
                <% end %>
              <% when '多選題' %>
                <% question.answers.each do |answer| %>
                  <label class= "response_choice bg-<%= @survey.theme%> hover:bg-<%= @survey.background_color %>">
                    <%= response.check_box question.id, { multiple: true, class: 'radio_button h-6 w-6 ml-1 mr-3 accent-ironGaryHover' }, answer.id %>
                    <%= answer.title %>
                  </label>
                <% end %>
              <% when '問答題' %>
                <%= response.text_area question.id, required: question.required, class: 'text_area w-full my-6 border-2 rounded-md border-ironGaryHover focus:outline-none focus:ring-ironGray focus:border-ironGray text-md' %>
              <% when '滿意度' %>
                <table class="default w-full my-6">
                  <tr class="tr flex justify-around flex-wrap">
                    <% question.answers.each do |answer| %>
                      <td>
                        <%= answer.title %>
                      </td>
                    <% end %>
                  </tr>
                  <tr class="tr flex justify-around flex-wrap ">
                    <% question.answers.each do |answer| %>
                      <td>
                        <%= response.radio_button question.id, answer.id, data_skip_to_question_id: answer.skip_to_question_id, class: 'radio_button h-6 w-6', data: {action: "change->responses#checked"} %>
                      </td>
                    <% end %>
                  </tr>
                </table>
              <% when '日期' %>
                <%= response.date_field question.id , class: "default w-full my-6", data: {controller: "date"}%>
              <% when '時間' %>
                <%= response.time_field question.id, class: "default w-full my-6", data: {controller: "time"} %>
              <% when '下拉選單' %>
                <%= response.select question.id, options_for_select(question.answers.collect{ |o| [o.title, o.id, class: "option"] }), {class: "default w-full my-6"}  %>
              <% when '範圍' %>
                <%= response.range_field question.id %>
              <% when '上傳檔案' %>
                <%= response.file_field question.id, accept: "application/pdf, application/zip", multiple: true %>
              <% end %>
            </div>

            <%= form.button "上一題", data: { action: "click->responses#previous", "responses_target": "previous_question" }, class: "response_button"%>
            <%= form.button "下一題", data: { action: "click->responses#next", "responses_target": "next_question" }, class: "response_button"%>
          </div>
          <% end %>
        <% end %>
        <div class="response_submit hidden" data-responses-target="submit">
          <%= form.submit "送出問卷",class:"response_button" %>
        </div>

      <% end %>
  </section>
</div>