<style>
  <% if @survey.image.attached? %>
    .form_bg {
      background-image: url("<%= url_for(@survey.image) %>");
      position: relative;
      z-index: 0;
    }   
    .form_bg:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  <% end %>
</style>

<div class="response-page bg-<%= @survey.background_color %> <%= @survey.image.attached? ? "form_bg" : ""%> ">
    <section class="response-section <%= @survey.font_style %> focus-within:outline-<%= @survey.theme %>" data-controller="responses">
      <div class="response-survey-title-group hidden" data-responses-target="surveyTitle">
        <h1 class="response-survey-title"><%= @survey.title %></h1>
        <p class="response-descriptions relative"><%= @survey.description %></p>
      </div>
      <%= form_with model: [@survey, response] do |form| %>
        <%= form.fields_for :answers do |response| %>
          <% @survey.questions.each do |question| %>
          <div class="question_field hidden my-8" data-responses-target="question" data-question_id="<%= question.id %>" data-required="<%= question.required %>">
            <h1 class="question_title">
              <%= question.title %>
              <% if question.required %>
                <span class="text-sm">(必填)</span>
              <% end %>
            </h1>
            <p class="response-descriptions"><%= question.description%></p>
              <% if question.image.attached? %>
                <%= image_tag question.image.variant(resize_to_limit: [250, 250]) %>
              <% end %>
            <span class="hidden bg-brightRed bg-brightOrange bg-brightYellow bg-brightGreen
            bg-brightBlue bg-brightNavy bg-brightGray bg-brightPurple hover:bg-softRed hover:bg-softOrange hover:bg-softYellow hover:bg-softGreen hover:bg-softBlue hover:bg-softNavy hover:bg-softGray hover:bg-softPurple"></span>
            <div class="question-content">
              <% case question.question_type %>
              <% when '單選題' %>
                <% question.answers.each do |answer| %>
                  <label class= "response-choice bg-<%= @survey.theme %> hover:bg-<%= @survey.background_color %>" >
                    <%= response.radio_button question.id, answer.id, class: 'radio-button', data: {action: "change->responses#checked", "skip_to_question_id": answer.skip_to_question_id } %>
                    <%= answer.title %>
                  </label>
                <% end %>
              <% when '多選題' %>
                <% question.answers.each do |answer| %>
                  <label class= "response-choice bg-<%= @survey.theme%> hover:bg-<%= @survey.background_color %>">
                    <%= response.check_box question.id, { multiple: true, class: 'radio-button', data: {action: "change->responses#checkedCheckBox"}}, answer.id %>
                    <%= answer.title %>
                  </label>
                <% end %>
              <% when '問答題' %>
                <%= response.text_area question.id, class: 'response-textarea',data: {action: "change->responses#responded"} %>
              <% when '滿意度' %>
                <table class="w-full my-6 flex-wrap">
                  <tr class="text-center">
                    <% question.answers.each do |answer| %>
                      <td>
                        <%= answer.title %>
                      </td>
                    <% end %>
                  </tr>
                  <tr class="text-center">
                    <% question.answers.each do |answer| %>
                      <td>
                        <%= response.radio_button question.id, answer.id, class: 'radio-button', data: {action: "change->responses#checked", "skip_to_question_id": answer.skip_to_question_id } %>
                      </td>
                    <% end %>
                  </tr>
                </table>
              <% when '日期' %>
                <%= response.date_field question.id, placeholder: "點按以選擇日期", class: "response-datetime", data: {controller: "date", action: "change->responses#responded"}%>
              <% when '時間' %>
                <%= response.time_field question.id, placeholder: "點按以選擇時間", class: "response-datetime", data: {controller: "time", action: "change->responses#responded"} %>
              <% when '下拉選單' %>
                <%= response.select question.id, options_for_select(question.answers.collect{ |o| [o.title, o.id, class: "option break-words", data:{ "skip_to_question_id": o.skip_to_question_id}]}), {include_blank: "請選擇選項"}, {class: "response-select", data: {action: "change->responses#responded change->responses#selected" }} %>
              <% when '範圍' %>
                <%= response.range_field question.id, class: "range bg-#{@survey.theme}", data: {action: "change->responses#responded"} %>
              <% when '上傳檔案' %>
                <%= response.file_field question.id, accept: "application/pdf, application/zip", multiple: true %>
              <% end %>
            </div>

            <%= form.button "上一題", data: { action: "click->responses#previous", "responses_target": "previousQuestion" }, class: "response-button"%>
            <%= form.button "下一題", data: { action: "click->responses#next", "responses_target": "nextQuestion" }, class: "response-button"%>
          </div>
          <% end %>
        <% end %>
          <%= form.submit "送出問卷",class:"response-button hidden", data: {"responses-target": "submit"} %>
      <% end %>
  </section>
</div>