<section class="<%= @survey.font_style %>">
    <h1><%= @survey.title %></h1>
    <h2><%= @survey.description%></h2>
    <% @survey.questions.each do |question| %>
        <div class="question_field">
        <h2 class="question_title"><%= question.title %></h2>
        <div class="question_content">
        <% case question.question_type %>
       
        <% when "單選題" %>
            <p><%= (question.answers.find { |a| a.id.to_s == @response.answers[question.id.to_s] }) ?  question.answers.find { |a| a.id.to_s == @response.answers[question.id.to_s] }.title : "未填答"  %></p>
        <% when "多選題" %>
            <% if @response.multiple_choice_answers(question.id).uniq.length == 1 %>
                <p>未填答</p>
            <% else %>
                <% question.answers.select { |a| @response.multiple_choice_answers(question.id).include?(a.id) }.each do |answer| %>
                <p><%= answer.title %></p>
                    <% end %>  
            <% end %>
        <% when "問答題" %>
        <p><%= @response.answers[question.id.to_s] %></p>
        <% when "線性問題" %>
        <table>
            <tr>
            <% question.answers.each do |answer| %>
            <td>
                <%= answer.title %>
            </td>
            <% end %>
            </tr>
            <tr>
            <% question.answers.each do |answer| %>
            <td>
                <%= radio_button_tag question.id, answer.id , answer.id == @response.answers["#{question.id}"].to_i ? true : false %>
            </td>
            <% end %>
            </tr>
        </table>
        <% when "日期" %>
            <%= date_field_tag question.id, @response.answers["#{question.id}"]%>
        <% when "時間" %>
            <%= time_field_tag question.id, @response.answers["#{question.id}"] %>
        <% when "下拉選單" %>
            <%= select_tag question.id, options_for_select(question.answers.collect{ |o| [o.title, o.id] }, @response.answers["#{question.id}"] ) %>
        <% when "範圍" %>
            <%= range_field_tag question.id , @response.answers["#{question.id}"]  %>
        <% when "上傳檔案" %>
            <%= file_field_tag question.id, accept: "application/pdf, application/zip", multiple: true %>
        <% end %>
        </div>
        </div>
    <% end %>
</section>