
<h1 class="text-3xl text-center text-ironGray my-10">謝謝您，您的問卷已順利提交</h1>

<%= link_to root_path  do %>
  <div class="m-auto w-10/12 lg:flex shadow-md">
    <%= image_tag("survey02.jpeg",{class: "h-auto w-full lg:w-6/12 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" })%>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal  hover:bg-gray-100">
      <div class="mb-8">
        <p class="text-sm text-gray-600 flex items-center">
          <i class="fa-solid fa-lock-keyhole text-gray-500 w-3 h-3 mr-2"></i>
          Members only
        </p>
        <h2 class="text-ironGray font-bold text-2xl my-4">馬上來Rform建立屬於自己的問卷吧
        </h2>
        <div class="grid grid-cols-3 gap-4">
          <div class="w-full">
            <%= image_tag("create_survey.png",{class: "submit_img object-cover rounded-full"}) %>
          </div>
          <div class="w-full">
            <%= image_tag("reply.png",{class: "submit_img object-cover rounded-full"}) %>
          </div>
          <div class="w-full">
            <%= image_tag("analyze.png",{class: "submit_img object-cover rounded-full"}) %>
          </div>
          <p class="text-center text-ironGray">設計問卷</p>
          <p class="text-center text-ironGray">收集回覆</p>
          <p class="text-center text-ironGray">分析數據</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-900 leading-none">Rform Team</p>
          <p class="text-gray-600">Jun 11,2022</p>
        </div>
      </div>
    </div>
  </div>
<% end %>