<% if params[:submit] == "success" %>
  <h1 class="submitted-feedback">
    謝謝您，您的問卷已順利提交
    <i class="far fa-paper-plane"></i>
  </h1>
<% else %>
  <h1 class="submitted-feedback">
    這個問卷可能已經關閉，快來建立自己的問卷吧
    <i class="far fa-hand-point-down"></i>
  </h1>
<% end %>

<%= link_to root_path do %>
  <div class="introduce-item">
    <%=
      image_tag("survey02.jpeg",{class: "introduce-card-img"
      })%>
      <div class="introduce-card-content">
        <div class="mb-8">
          <p class="text-sm text-gray-600 flex items-center">
            <i class="fas fa-lock text-gray-500 w-3 h-3 mr-2"></i>
            Members only
          </p>
          <h2 class="introduce-card-title">馬上來Rform建立屬於自己的問卷吧
          </h2>
          <div class="grid grid-cols-3 gap-4">
            <div class="w-full">
              <%= image_tag("create_survey.png",class: "function-img") %>
            </div>
            <div class="w-full">
              <%= image_tag("reply.png",class: "function-img" ) %>
            </div>
            <div class="w-full">
              <%= image_tag("analyze.png",class: "function-img") %>
            </div>
            <p class="function-caption">設計問卷</p>
            <p class="function-caption">收集回覆</p>
            <p class="function-caption">分析數據</p>
          </div>
        </div>
        <div class="items-center text-sm">
          <p class="text-gray-600 leading-none">Rform Team</p>
          <p class="text-gray-600">Jun 11,2022</p>
        </div>
      </div>
  </div>
  <% end %>