<section class="max-w-lg mx-auto">

<%= form_with(model: survey,  data: { controller: "auto-save", action: "change->auto-save#create_survey", auto_save_target: "form"}) do |form| %>
  <div class="field survey_id" data-id="<%= survey.id %>">
    <%= form.label :title, "問卷名稱", class: "text-xl" %>
    <%= form.text_field :title, placeholder: "請輸入問卷名稱", class: "appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"%>
  </div>
  <div class="field">
    <%= form.label :description, "問卷敘述", class: "text-xl" %>
    <%= form.text_area :description, placeholder: "問卷敘述", class: "appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
  </div>
  
  <div data-controller="nested-form sortable-question" data-nested-form-index-value ="QUESTION_RECORD" >
    <template data-nested-form-target='template'>
      <%= form.fields_for :questions, Question.new, child_index: 'QUESTION_RECORD' do |question| %>
        <%# QUESTION - QUESTION_RECORD %>
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

    <div data-nested-form-target="add_item" class="my-4">
      <%= link_to "新增問題", "#", data: { action: "nested-form#add_association auto-save#add_question_item" }, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mx-2 rounded-full" %>
    </div>
  </div>

  <% if survey.id == nil %>
    <div class="actions my-6">
      <%= form.submit "新增問卷", class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mx-2 rounded-full" %>
    </div>
  <% else %>
    <div class="actions my-6">
      <%= link_to '更新問卷', surveys_path, class: "bg-red-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mx-2 rounded-full", data: { action: "auto-save#submitForm"}%>
    </div>
  <% end%>

<% end %>
</section>
