<section class="max-w-lg mx-auto">

<%= form_with(model: survey,  data: { controller: "auto-save survey-style", action: "change->auto-save#create_survey", auto_save_target: "form"}, class: survey.font_style) do |form| %>
  <div class="field survey_id" data-id="<%= survey.id %>" data-auto-save-target="survey_id">
    <%= form.label :title, "問卷名稱", class: "text-xl" %>
    <%= form.text_field :title, placeholder: "請輸入問卷名稱", class: "appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", 
    data: {action: "change->auto-save#add_survey_title "}%>
  </div>
  <div class="field">
    <%= form.label :description, "問卷敘述", class: "text-xl" %>
    <%= form.text_area :description, placeholder: "問卷敘述", class: "appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
     data: {action: "change->auto-save#add_survey_description "} %>
  </div>
  
  <div data-controller="nested-form sortable-question" data-nested-form-index-value ="QUESTION_RECORD" >
    <template data-nested-form-target='template'>
      <%= form.fields_for :questions, Question.new, child_index: 'QUESTION_RECORD' do |question| %>
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

    <div data-nested-form-target="add_item" class="my-4">
      <%= link_to "新增問題", "#", data: { action: "nested-form#add_association auto-save#add_question_item" }, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mx-2 rounded-full" %>
    </div>
  </div>

   <div data-controller="survey-style" > 
    <%= form.select :font_style,
        options_for_select([['請選擇字體', 'DD' ],['font-sans(default)', 'font-sans'], ['font-mono', 'font-mono'],['font-serif','font-serif']],
         selected: form.object.font_style ),
        {},
        data: { action: "change -> survey-style#option"}    
    %>
  </div> 


<% end %>
</section>
