<div data-controller = "survey-style" class="style-survey-div padding-for-fixed-body min-hight bg-<%= @survey.background_color %>">
    <aside data-controller="slideover" data-slideover-target="closeAside" class="slideover slide invisible">
      <div class="pt-4 p-4 padding-for-fixed-body">
      
        <div class="slide_content">        
          <div class="side-border"> 
            <i class="fas fa-brush"></i>
            <span class="mx-4 font-bold text-xl	">自訂主題</span>
          </div>
        </div>

          <nav>
            <ul class="flex flex-col overflow-hidden space-y-2">
              <li class="mx-4 mt-4 inline-block py-4">             
                  <i class="fas fa-font"></i>
                  <span>
                    字體樣式
                  </span>                 
              </li> 
              <li>
                 <%= form_with(model: survey, class: survey.font_style ) do |form| %>
                    <div class="mx-4" > 
                        <%= form.select :font_style,
                            options_for_select([['請選擇字體', 'nill' ],['font-sans(default)', 'font-sans'],['font-serif','font-serif'], ['font-mono', 'font-mono']],
                            selected: form.object.font_style ),
                            {},
                            data: { action: "change -> survey-style#select_font"}    %>
                      </div> 
                  <% end %> 
              </li>
             
              <li class="mx-4 mt-4 inline-block py-4">             
                  <i class="fas fa-paint-roller"></i>
                  <span>
                    主題顏色
                  </span>                 
              </li> 
              <li>
                  <button class="mx-4" data-action="click-> survey-style#pick_color" >
                      <input class="text-input hidden" data-survey-style-target="color"  />
                  </button>
              </li>
              <li class="mx-4 mt-4 inline-block py-4">             
                  <i class="fas fa-paint-roller"></i>
                  <span>
                    背景顏色
                  </span>                 
              </li> 
              <li>
                  <button class="mx-4" data-action="click-> survey-style#pick_background_color" >
                      <input class="text-input hidden" data-survey-style-target="background_color"  />
                  </button>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
  <section class="formsection h-full min-h-screen <%= survey.font_style %>">
    <%= form_with(model: survey,  data: { controller: "auto-save", auto_save_target: "form", survey_style_target: "form" } ) do |form| %>
      <div class="formsection_title border-<%= survey.theme %>" data-id="<%= survey.id %>" data-auto-save-target="survey_id" data-survey-style-target="survey_id">
        <%= form.text_field :title, placeholder: "問卷標題", class: "title input ", 
          data: {action: "change->auto-save#add_survey_title "}%>
        <%= form.text_area :description, placeholder: "問卷敘述", class: "input",
          data: {controller: "textarea-autogrow", action: "change->auto-save#add_survey_description "} %>
      </div>
      <div data-controller="nested-form sortable-question" data-nested-form-index-value ="QUESTION_RECORD">
        <template data-nested-form-target='template'>
          <%= form.fields_for :questions, Question.new, child_index: 'QUESTION_RECORD' do |question| %>
            <%= render 'question_fields', form: question %>
          <% end %> 
        </template>
          <%= form.fields_for :questions do |question| %>
            <%= render 'question_fields', form: question %>
          <% end %>
          <div data-nested-form-target="add_item" class="down">
            <%= link_to "新增問題", "#", data: { action: "nested-form#add_association auto-save#add_question_item" }, class: "new_question_btn" %>
            <%= form_with(model: survey) do |form| %>
              <%= form.file_field :image, class:"hidden" %>
              <%= form.submit "更換圖片", class:"hidden" %>
            <% end %>
          </div>
      </div>
    <% end %>
  </section>
</div>
