<nav class="flex items-center justify-between flex-wrap bg-white-500 p-6 border-b-2 border-gray-500">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <%= link_to surveys_path do %>
    <i class="fas fa-file-alt text-4xl hover:text-gray-500"></i>
    <% end %>
    <span class="font-semibold text-xl tracking-tight mx-5">表單</span>
  </div>
  
  <div class="w-full block flex-grow text-right justify-end   sm:flex sm:items-center sm:w-auto md:flex md:items-center md:w-auto lg:flex lg:items-center lg:w-auto">
    <div class="lg:flex-grow">

      <%= link_to "#" do %>
        <i class="fas fa-palette text-xlfa-solid block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-eye text-xlfa-solid block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-angle-double-left text-xlfa-solid block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-angle-double-right text-xlfa-solid block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl"></i>
      <% end %>
      <a href="#" class="inline-block text-xl px-4 py-2 mx-2 leading-none border rounded text-white border-white bg-gray-600 hover:border-transparent hover:text-teal-500 hover:bg-gray-300 hover:text-black mt-4 lg:mt-0">傳送</a>
      <i class="fas fa-ellipsis-v text-xl hover:text-gray-500 inline-flex items-center mx-2 px-3 py-2  md:mb-0 relative nav-dropdown-manu">
        <div class="hidden absolute pt-5 w-24 right-0">
          <ul class=" text-sm text-gray-700 bg-gray-200 dark:text-gray-200 border-2 rounded " >
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">複製副本</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">取得網址</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">刪除問卷</a>
            </li>
          </ul>
        </div>
      </i>
    </div>
  
    
  </div>
</nav>