<nav data-controller="navbar" data-navbar-isOpen-value="false" class="flex items-center justify-between md:flex-wrap p-6 border-b-2 border-gray-500 bg-white fixed z-10 w-full margin-for-fixed">
  <div class="flex items-center flex-shrink-0 text-black md:mr-6">
    <%= link_to surveys_path do %>
    <i class="fas fa-file-alt text-4xl hover:text-gray-500"></i>
    <% end %>
    <span class="font-semibold text-xl tracking-tight mx-2 md:mx-5">表單</span>
  </div>
  
  <div class="w-full block flex-grow text-right justify-end flex-wrap sm:flex sm:items-center sm:w-auto">
    <div class="lg:flex-grow flex justify-end items-center ">

<<<<<<< HEAD
      <%= link_to "#" ,class:"inline-block md:px-2" do %>
        <i data-action="click->navbar#showNavBar" data-navbar-index="true"
=======
      <%= link_to "#" ,class:"inline-block px-2" do %>
        <i data-action="click->navbar#showNavbar" data-navbar-index="true"
>>>>>>> 44a54b9 (add header navbar RWD)
        class="fas fa-palette text-xlfa-solid block mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl align-middle"></i>
      <% end %>
      <%= link_to responses_new_path(@survey), class:"inline-block md:px-2" do %>
        <i class="fas fa-eye text-xlfa-solid block mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl"></i>
      <% end %>
      <%= link_to duplicate_survey_path(@survey), data:{confirm: '複製的問卷副本將出現在「我的問卷」'},class: "inline-block px-2" do %>
        <i class="fas fa-copy text-xlfa-solid block mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl"></i>
      <% end %>
      <%= link_to @survey, method: :delete, data: { confirm: '刪除後的問卷將無法復原' }, class: "inline-block px-2" do%>
        <i class="fas fa-trash-alt text-xlfa-solid block mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500 text-xl "></i>
      <% end %>
      <div>
        <a href="#" data-action="click->modal#open click->surveys#shareInEdit" 
        class="inline-block text-xl px-4 py-2 md:mx-4 leading-none border rounded text-white border-white bg-gray-600 hover:border-transparent hover:text-teal-500 hover:bg-gray-300 hover:text-black lg:mt-0">傳送</a>
      </div>
    </div>
  </div>
</nav>