<section class="max-w-lg mx-auto border-4 rounded" data-id="<%= @survey.id %>">
<%= form.hidden_field :id %>
<div class='nested-fields box' data-controller='dynamic-select'>
  <div class='form-group'>
    <%= form.select :question_type,
        options_for_select(Question.question_type_select, selected: form.object.question_type),
        {},class: "bg-gray-200 text-gray-800",
        'data-dynamic-select-target': 'select',
        'data-action': 'dynamic-select#selected'%>
  </div>

  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
    <%= form.text_field :title, placeholder: 'Question', class: 'form-control appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white', data: {auto_save_target: "question_value"}%>
    <small class="inline-block">
      <%= link_to "刪除問題", data: { action: "click->nested-form#remove_association click->auto-save#removeQuestion", auto_save_target: "button" }, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </small>
    <div class="inline-block">
      <%= form.check_box :required %>
      <%= form.label :required, "必填" %>
    </div>
    
  </div>


  <div data-controller="nested-form" 
       data-nested-form-index-value ="ANSWER_RECORD" data-dynamic-select-target='choice'>
    <template data-nested-form-target='template'>
      <%= form.fields_for :answers, Answer.new, child_index: 'ANSWER_RECORD' do |answer| %>
        <%#  ANSWER - ANSWER_RECORD %>
        <%= render 'answer_fields', form: answer %>
      <% end %>
    </template>

    <%= form.fields_for :answers do |answer| %>
      <%= render 'answer_fields', form: answer %>
    <% end %>

    <div data-nested-form-target="add_item" class="my-4">
      <%= link_to "新增選項", "#", data: { action: "nested-form#add_association" } , class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mx-2 rounded-full" %>
    </div>
  </div>
  
</div>
</section>