<div class="question group focus-within:outline-<%= @survey.theme %>" data-id="<%= @survey.id %>" data-question_id="<%= form.object.id %>" data-status="<%= @survey.status %>" data-controller='nested-form dynamic-select' data-nested-form-target="question" data-auto-save-target="question"
data-survey-style-target="question" >
  
  <%= form.hidden_field :_destroy %>
  <div class='title-type'>
      <%= form.text_field :title, placeholder: '問題題目', autocomplete: "off", class: 'question-title survey-input', data: {action: "change->auto-save#add_question "} %>
      <%= form.select :question_type,
        options_for_select(Question.question_type_select, selected: form.object.question_type),
        {},class: "select",
        'data-dynamic-select-target': 'select',
        'data-auto-save-target': 'select',
        'data-action': 'dynamic-select#selected auto-save#selected' %>
  </div>
  <%= form.text_area :description, placeholder: "題目敘述", class: "discription survey-input", data: {action: "change->auto-save#add_question_description" , controller: "textarea-autogrow"} %>
  <% if form.object.image.attached? %>
    <%= image_tag form.object.image.variant(resize_to_limit: [250, 250]) %>
  <% end %>
  <div class="choices_field"  data-nested-form-index-value ="ANSWER_RECORD" data-dynamic-select-target='choice' data-nested-form-target="add_item">
    <template data-nested-form-target='template'>
      <%= form.fields_for :answers, Answer.new, child_index: 'ANSWER_RECORD' do |answer| %>
        <%= render 'answer_fields', form: answer %>
      <% end %>
    </template>
    <%= form.fields_for :answers do |answer| %>
      <%= render 'answer_fields',
       form: answer, id: "answer" %>
    <% end %>
  </div>
  <div class="question_function">
    <div>
    <%= link_to "新增選項", "#", data: { action: "nested-form#add_answer auto-save#add_answer_item" , dynamic_select_target:'addbtn' } , class: "btn mr-4" %>
    <%= form.label :image , (form.object.image.attached? ? "更換圖片" : "新增圖片" ), class: "btn" , data: { action: "click->auto-save#change_question_image" ,id: form.object.id } %>
    </div>
    <div class="flex">
    <%= form.check_box :required, data: {action: "click->auto-save#checked"}, id: "deco_checkbox"%>
    <div class="flex justify-end items-center">
      <div class="mx-4"><%= form.label :required, "必填" %></div>
    </div>
    <%= link_to "#", data: { action: "click->nested-form#duplicate_question" } ,class: "linkbtn mx-3", title: "複製問題" do %>
      <i class="fas fa-copy"></i>
    <% end %>
    <%= link_to "#", data: { action: "click->nested-form#remove_association click->auto-save#remove_question" }, class: "linkbtn mx-2", title: "刪除問題" do %>
        <i class="fas fa-trash-alt"></i>
    <% end %>
    </div>
  </div>
</div>
