<h1 class="text-pink-600"><%= link_to '我的問卷', surveys_path %></h1>

<table>
  <thead>
    <tr class="bg-pink-500">
      <th class="text-xl">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr class="border-2">
        <td class="border-2"><%= survey.title %></td>
        <td class="border-2"><%= link_to '檢視', survey %></td>
        <td class="border-2"><%= link_to '修改', edit_survey_path(survey) %></td>
        <td class="border-2"><%= link_to '刪除', survey, method: :delete, data: { confirm: '確定要刪除問卷嗎?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '建立問卷', new_survey_path %>
