<section class="padding-for-fixed">
  <h1 class="my-surveys"><%= link_to '我的問卷', surveys_path %></h1>
  <div class="container mt-4 mx-auto" data-controller="modal surveys" data-modal-allow-background-close="false" >
    <div class="cards-item" data-controller="sortable">
      <% @surveys.each do |survey| %>
        <div class="survey-card" data-id="<%= survey.id %>">
          <div class="m-3 h-full">
            <div class="h-1/2 flex flex-col justify-between">
              <h2 class="survey-card-title"><%= survey.title %></h2>
              <p class="survey-card-description"><%= survey.description %></p> 
              <div class="survey-card-icon">       
                <%= link_to edit_survey_path(survey), title: "編輯問卷", class: "linkbtn" do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= link_to duplicate_survey_path(survey), title: "複製問卷", class: "linkbtn" do %>
                  <i class="fas fa-copy"></i>
                <% end %>
                
                <% if survey.published? %>
                  <%= link_to "#", title: "分享問卷", data: {action:"click->modal#open click->surveys#share" ,url: responses_new_path(survey) }, class: "linkbtn" do %>
                    <i class="fas fa-share"></i>
                  <% end %>
                <% end %>
                <%= link_to stats_survey_path(survey), title: "統計數據管理", class: "linkbtn" do %>
                  <i class="fas fa-chart-pie"></i>
                <% end %>
              
                <%= link_to survey, title: "刪除問卷", method: :delete, data: { confirm: '按下確定，刪除的問卷將無法復原' }, class: "linkbtn" do%>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
            <div class="h-1/2">
              <%= form_with(model: survey, url: tag_survey_path(survey), method: "patch") do |form| %>
                <span class="text-sm text-teal-800 font-mono bg-teal-100 inline rounded-full px-2 align-top animate-pulse">Tag</span>
                <%= form.text_field :tag, data: {controller: "tag"} %>
                <%= form.submit "更新分類標籤" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
                <!-- Modal Container -->
    <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
      <div class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"  id="modal-id">
        <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
          <!--content-->
          <div class="">
            <!--body-->
            <div class="text-center p-5 flex-auto justify-center">
              <i class="fas fa-check-circle fa-5x" style="color: limegreen;" ></i>
              <h2 class="text-xl font-bold py-4 ">按下複製分享你的問卷！</h3>
              <p class="text-sm text-gray-500 px-8">透過下方網址，可以讓你的朋友們更容易地看到你的問卷</p>
              <div class="flex items-center border-b border-teal-500 py-2">
                <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" value="待放網址" disabled="true" aria-label="Full name" data-surveys-target="short_url" >
                <button class="urlbtn" type="button" data-action="click->surveys#copy">
                  複製
                </button>
                <button class="urlbtn" type="button" data-action="click->surveys#qrcode">
                QRcode
                </button>
              </div>
            </div>
            <!--footer-->
            <div class="p-3  mt-2 text-center space-x-4 md:block">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-action="click->modal#close">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="text-right">
  <%= link_to new_survey_path, title: "新增問卷", class: "cursor-pointer w-20 h-20 fixed bottom-8 right-8 bg-gray-500 hover:bg-gray-700 text-white text-3xl font-bold p-5 rounded-full text-center" do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>