<h1 class="text-5xl text-center text-gray-700"><%= link_to '我的問卷', surveys_path %></h1>

<section>
  <div class="container mt-4 mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4" data-controller="sortable">
      <% @surveys.each do |survey| %>
        <div class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200" data-id="<%= survey.id %>">
          <%= link_to survey_path(survey) do %>
            <div class="m-3">
              <span class="text-sm text-teal-800 font-mono bg-teal-100 inline rounded-full px-2 align-top float-right animate-pulse">Tag</span>
              <h2 class="text-lg mb-2"><%= survey.title %></h2>
              <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200"><%= survey.description %></p> 
              <div class="mt-5 text-right">
                
                <%= link_to edit_survey_path(survey), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full" do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
                <%= link_to duplicate_survey_path(survey), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full" do %>
                  <i class="fa-solid fa-copy"></i>
                <% end %>
                <%= link_to survey, method: :delete, data: { confirm: '確定要刪除問卷嗎?' }, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full" do%>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
              <div>
                <%= form_with(model: survey, url: survey_tag_path(survey), method: "patch") do |form| %>
                  <%= form.label :tag %>
                  <%= form.text_field :tag, data: {controller: "tag"} %>
                  <%= form.submit "更新分類標籤" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<div class="text-right">
  <%= link_to '建立問卷', new_survey_path ,class: "absolute bottom-8 right-8 bg-gray-500 hover:bg-gray-700 text-white font-bold py-5 px-10 rounded-full"%>
</div>