<section class="padding-for-fixed">
  <h1 class="text-5xl text-center text-gray-700 mt-4"><%= link_to '我的問卷', surveys_path %></h1>
  <div class="container mt-4 mx-auto" data-controller="modal surveys" data-modal-allow-background-close="false" >
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4" data-controller="sortable">
      <% @surveys.each_with_index do |survey, index| %>
        <div class="m-2 transition-all duration-200 transform border border-gray-400 rounded-lg cursor-pointer card hover:shadow-md hover:border-opacity-0 hover:-translate-y-1" data-id="<%= survey.id %>" data-title="<%= survey.title %>" data-description="<%= survey.description %>" data-surveys-target="surveyCard">          
          <div class="m-3">
            <h2 class="mb-2 text-lg truncate"><%= survey.title %></h2>
            <p class="font-mono text-sm font-light text-gray-700 truncate transition-all duration-200 hover:text-gray-900 "><%= survey.description %></p> 
 
            <div class="flex justify-end mt-5">  
              <%= link_to edit_survey_path(survey), title: "編輯問卷", class: "linkbtn" do %>
                <i class="fas fa-pen"></i>
              <% end %>

              <%= link_to duplicate_survey_path(survey), title: "複製問卷", class: "linkbtn" do %>
                <i class="fas fa-copy"></i>
              <% end %>
                
              <% if survey.published? %>
                <%= link_to "#", title: "分享問卷", data: {action:"click->modal#open click->surveys#share" ,url: responses_new_path(survey) }, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full" do %>
                  <i class="fas fa-share"></i>
                <% end %>
              <% end %>

              <%= link_to stats_survey_path(survey), title: "統計數據管理", class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full" do %>
                <i class="fas fa-chart-pie"></i>
              <% end %>
              
              <%= link_to survey, title: "刪除問卷", method: :delete, data: { confirm: '確定要刪除問卷嗎?' }, class: "linkbtn" do%>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
            <div class="flex" data-surveys-target="tagEditor" data-id="<%= survey.id %>">
              <i class="px-2 py-4 fas fa-tags" title="分類標籤"></i>
              <div class="w-full my-4 tagInput" id="<%= index %>">
                <%= form_with(model: survey, url: tag_survey_path(survey), method: "patch") do |form| %>
                  <%= form.text_field :tag, data: {controller: "tag", surveys_target:"tagValue", action:"change->surveys#updateTags"} %>                
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
                <!-- Modal Container -->
    <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
      <div class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"  id="modal-id">
        <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
          <!--content-->
          <div class="">
            <!--body-->
            <div class="text-center p-5 flex-auto justify-center">
              <i class="fas fa-check-circle fa-5x" style="color: limegreen;" ></i>
              <h2 class="text-xl font-bold py-4 ">按下複製分享你的問卷！</h3>
              <p class="text-sm text-gray-500 px-8">透過下方網址，可以讓你的朋友們更容易地看到你的問卷</p>
              <div class="flex items-center border-b border-teal-500 py-2">
                <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" value="待放網址" disabled="true" aria-label="Full name" data-surveys-target="short_url" >
                <button class="urlbtn" type="button" data-action="click->surveys#copy">
                  複製
                </button>
                <button class="urlbtn" type="button" data-action="click->surveys#qrcode">
                QRcode
                </button>
              </div>
            </div>
            <!--footer-->
            <div class="p-3  mt-2 text-center space-x-4 md:block">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-action="click->modal#close">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed flex mx-4 bottom-8">
      <input class="hidden" placeholder="搜尋標題敘述或分類標籤" data-surveys-target="searchInput" data-action="change->surveys#search"></input>
      <i class="fas fa-search fa-2x" data-action="click->surveys#hideAndShowSearchBar"></i>
    </div>
  </div>
</section>

<div class="text-right">
  <%= link_to '建立問卷', new_survey_path ,class: "absolute bottom-8 right-8 bg-gray-500 hover:bg-gray-700 text-white font-bold py-5 px-10 rounded"%>
</div>