<h1><%= @survey.title %></h1>
<p><%= @survey.description %></p>

<% @survey.questions.each do |question| %>
  <h2><%= question.title %></h2>

  <% case question.question_type %>
  <% when 'single_choice' %>
    <% question.answers.each do |answer| %>
      <p>
        <%= radio_button_tag question.id, answer.id %>
        <%= answer.title %>
      </p>
    <% end %>
  <% when 'multiple_choice' %>
    <% question.answers.each do |answer| %>
      <p>
        <%= check_box_tag question.id, answer.id %>
        <%= answer.title %>
      </p>
    <% end %>
  <% when 'long_answer' %>
    <%= text_area_tag question.id %>
  <% when 'satisfaction' %>
    <table>
      <tr>
      <% question.answers.each do |answer| %>
        <td>
          <%# radio_button_tag question.id, answer.id %>
          <%= answer.title %>
        </td>
      <% end %>
      </tr>
      <tr>
      <% question.answers.each do |answer| %>
        <td>
          <%= radio_button_tag question.id, answer.id %>
          <%# answer.title %>
        </td>
      <% end %>
      </tr>
    </table>  
  <% when 'date' %>
    <%= date_field_tag question.id %>
  <% when 'time' %>
    <%= time_field_tag question.id %>
  <% when 'drop_down_menu' %>
 
    <%= select_tag question.id, options_for_select(question.answers.collect{ |o| [o.title, o.id] }
      ) %>
    
  <% when 'range' %>
    <%= range_field_tag question.id %>  
  <% when 'file' %>
    <%= file_field_tag question.id, accept: "application/pdf, application/zip", multiple: true %>  
  <% when 'image' %>
    <%= file_field_tag question.id %>  
      <% question.answers.each do |answer| %>
        <%= image_tag answer.answerimg.variant(resize_to_limit: [200, 300]) %>  
      <% end %>
  <% end %>
<% end %>

<div>
<%# link_to 'New Response', new_survey_response_path(@survey) %>
<%= link_to 'Edit', edit_survey_path(@survey) %>
<%= link_to 'Back', surveys_path %>
</div>

