<h1>TITLE: <%= @survey.title %></h1>
<h1>DESC:  <%= @survey.description %></h1>
<h2>TAG:   <%= @survey.tag %></h2>
<hr>


<div data-controller="stats">
  <button data-action="click->stats#hideAndShow">顯示所有回應</button>
  <div data-stats-target="show_responses" class="hidden">
    <h2>填答份數: <%= @survey.responses.count %></h2>
    <% @responseAnswerDatas.each do |responseAnswerData| %>
      <h2><%= responseAnswerData %></h2>
    <% end %>
  </div>

  <hr>
  <div>
    <% 0.upto(@chart_count-1) do |chart_index| %>
      <div id="<%= chart_index.to_s %>" class="canvas_container">
        <%= select_tag(:chart_type, options_for_select([['長條圖', 'bar'], ['圓餅圖', 'pie'], ['折線圖', 'line']]), data: { action: "change->stats#chartTypeSelect"}) %>
        <% 0.upto(@chart_types.count-1) do |chart_type_index| %>
          <div class="hidden canvas_area">
            <canvas
            data-controller="chart"
            data-chart-type-value="<%= @chart_types[chart_type_index] %>"
            data-chart-data-value="<%= @chart_datas[chart_index].to_json %>"
            data-chart-options-value="<%= @chart_options[chart_index].to_json %>"
            data-stats-target="<%= @canvas_target_name[chart_type_index] %>"
            ></canvas>
          </div>  
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<br>
<%= link_to 'back', surveys_path %>