<h1>TITLE: <%= @survey.title %></h1>
<h1>DESC:  <%= @survey.description %></h1>
<h2>TAG:   <%= @survey.tag %></h2>
<hr>


<div data-controller="stats">
  <button data-action="click->stats#hideAndShow">顯示所有回應</button>
  <div data-stats-target="showResponses" class="hidden">
    <h2>填答份數: <span data-stats-target="responsesCount"><%= @survey.responses.count %></span></h2>
    <h2>目前顯示: 第<span data-stats-target="currentResponse">1</span>份</h2>
    <% 0.upto(@survey.responses.count-1) do |responseIndex| %>
      <div data-stats-target="showSingleResponse", class="hidden">
        <table class="table-auto">
          <% @responseJsons.each do |responseJson| %>
            <% if responseJson.as_json["responseIndex"] === responseIndex %>
              <tr>
                <th class="bg-gentleYellow text-ironGray"><%= responseJson.as_json["questionTitles"] %></th>
                <td><%= responseJson.as_json["responseAnswerTitles"].join('  ') %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    <% end %>
    <button data-action="click->stats#previousPage">上一份</button>
    <button data-action="click->stats#nextPage">下一份</button>
    跳轉到:<input data-action="change->stats#jumpToPage" placeholder="輸入頁數"></input>
  </div>

  <hr>
  <div>
    <% 0.upto(@chart_count-1) do |chart_index| %>
      <div id="<%= chart_index %>" class="canvasContainer">
        <%= select_tag(:chart_type, options_for_select([['長條圖', 'bar'], ['圓餅圖', 'pie'], ['折線圖', 'line']]), data: { action: "change->stats#chartTypeSelect"}) %>
        <% 0.upto(@chart_types.count-1) do |chart_type_index| %>
          <div class="hidden canvasArea">
            <canvas
            data-controller="chart"
            data-chart-type-value="<%= @chart_types[chart_type_index] %>"
            data-chart-data-value="<%= @chart_datas[chart_index].to_json %>"
            data-chart-options-value="<%= @chart_options[chart_index].to_json %>"
            data-stats-target="<%= @canvas_target_name[chart_type_index] %>"
            ></canvas>
          </div>  
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<br>
<%= link_to 'back', surveys_path %>
<%= link_to 'Download as .xlsx', stats_survey_path(format: :xlsx) %>
