<%= form_with url: user_sessions_path do |f| %>

    <section
      class="absolute top-96 left-1/2 mx-auto max-w-sm -translate-x-1/2 -translate-y-1/2 transform space-y-4 text-center"
    >

      <div x-show="!isLoginPage" class="space-y-4">
        <header class="mb-3 text-2xl font-bold">Log in | 登入</header>
        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <%= f.text_field :email, placeholder:"Email", 
            class:"my-3 w-full border-none bg-transparent outline-none focus:outline-none" %>
        </div>
        <div class="flex w-full items-center space-x-2 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
           <%= f.password_field :password, placeholder:"Password",
            class: "fos:outline-none my-3 w-full border-none bg-transparent outline-none"%>  
             <%= link_to 'Forgot', new_password_reset_path, class:"font-medium text-gray-400 hover:text-gray-500"
            %>
        </div>

        
        </div>
        <button
          class="w-full rounded-2xl border-b-4 border-b-blue-600 bg-ironGray py-3 font-bold text-white hover:bg-ironGrayHover active:translate-y-[0.125rem] active:border-b-blue-400"
        >
          LOG IN
        </button>
      </div>

      <div class="flex items-center space-x-4">
        <hr class="w-full border border-gray-300" />
        <div class="font-semibold text-gray-400">OR</div>
        <hr class="w-full border border-gray-300" />
      </div>

      <footer>
        <div class="grid grid-cols-2 gap-4">
         <%= link_to "FACEBOOK", provider_oauths_path(:provider => :facebook), 
          class:"rounded-2xl border-b-2 border-b-gray-300 bg-white py-2.5 px-4 font-bold text-gray-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-0.5 active:border-b-gray-200"
            %>
          <%= link_to "GOOGLE", provider_oauths_path(:provider => :google), 
          class:"rounded-2xl border-b-2 border-b-gray-300 bg-white py-2.5 px-4 font-bold text-gray-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-0.5 active:border-b-gray-200"
            %>
        </div>

        <div class="mt-8 text-sm text-gray-400">
          By signing in to ********, you agree to our
          <a href="#" class="font-medium text-gray-500">Terms</a> and
          <a href="#" class="font-medium text-gray-500">Privacy Policy</a>.
        </div>
      </footer>
    </section>
  </div>
</main>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("app", () => ({
      isLoginPage: true,
    }));
  });
</script>

<% end %>