<!DOCTYPE html>
<html>
  <head>
    <title>Rform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    .huebee__cursor {
        width: 30px;
        height: 30px;
      }
    </style>

  </head>

  <body data-controller="modal surveys" style="position:relative">
    <header class="px-1 bg-gentleYellow	fixed z-10 w-full top-0">
      <div id="nav" class="flex w-full justify-between items-center">
        <div class="w-20 mx-12 my-4 text-3xl text-gray-700 italic">
          <%= link_to 'Rform', root_path%>
        </div>
        <% if current_user %>
          <div class="mx-12">
            <span class="my-1 mx-3 py-2 px-4 font-bold text-ironGray active:translate-y-[0.125rem] active:border-b-gray-200">
              <%= link_to "登出", :logout, method: :post %>
            </span>
            <span class="my-1 mx-3 py-2 px-4 font-bold text-ironGray active:translate-y-[0.125rem] active:border-b-gray-200">
              <%= link_to "我的問卷", surveys_path  %>
            </span>
          </div>
        <% elsif @response && current_user.blank? %>

        <% else %>
          <div class="mx-12">
            <span class="my-1 mx-3 py-2 px-4 font-bold text-ironGray active:translate-y-[0.125rem] active:border-b-gray-200"">
            <%= link_to "註冊", new_user_path %>
            </span>
            <span class="my-1 mx-3 py-2 px-4 font-bold text-ironGray active:translate-y-[0.125rem] active:border-b-gray-200"">
              <%= link_to "登入", :login %>
            </span>
          </div>
        <% end %>
      </div>

    </header>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
    <%= yield %>
  </body>
</html>
