<!DOCTYPE html>
<html>
  <head>
    <title>Rform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <header class="py-4 px-1 bg-blue-900 ">
      <div id="nav" class="flex w-full justify-between">
      <% if current_user %>
        <div>
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
          <%= link_to "Logout", :logout, method: :post %>
        </div>
      <% else %>
      <div>
          <div class="text-white">log</div>
      </div>
        <div>
          <button class="my-1 mx-3 rounded-2xl border-b-1 border-b-gray-300 bg-white py-3 px-4 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
            <%= link_to "Register", new_user_path %>
          </button>
          <button class="my-1 mx-3 rounded-2xl border-b-1 border-b-gray-300 bg-white py-3 px-4 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
            <%= link_to "Login", :login %>
          </button>
           <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
        </div>
      <% end %>
        </div>
    </header>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
    <%= yield %>
  </body>
</html>
